*{
    margin: 0%;
}
.header-1{
    margin-top: 10px;
    display: flex;
    background-color: rgb(199, 46, 46);
    
}
.header-1 img{
    width: 50px;
    
}
.header-1 .list-1{
    margin-top: 10px;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
    gap: 70px;
    list-style: none;
    cursor: pointer;
}
.header-1 button{
    margin-top: 10px;
    justify-content: end;
    width: 100px;
    cursor: pointer;
}
h2{
    text-transform: uppercase;
}
.section-1 {
    margin-top: 10px;
    height: 80vh;
    background: url(https://cdn1.vectorstock.com/i/1000x1000/49/90/young-people-studying-with-books-in-group-friends-vector-20684990.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 .banner h1{
    font-size: xxx-large;
    text-transform: uppercase;
   text-align: center;
}
.section-1 .banner p{
    margin-top: 30px;
    font-size: x-large;
    text-align: center;
}
button{
    margin-top: 30px;
    margin-left: 20%;
    width: 100px;
    height: 30px;
    border: none;
    display: inline;
    border-radius: 5px;
    color: antiquewhite;
    background-color: rgb(31, 28, 28);
    box-shadow: 0 6px rgb(119, 117, 117);
    cursor: pointer;
}
button:hover{
    background-color: rgb(46, 43, 43);
}
button:active {
    background-color: #232523;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }

.section-2{
    height: 90vh;
    display: flex;
    background-color: rgb(9, 78, 66);
    flex-wrap: wrap;
    justify-content: center;
}
.section-2 .module{
    width: 300px;
    margin: 50px;
    background-color: rgb(214, 211, 230);
    border-radius: 20px;
    
}
.section-2 .module h2{
    margin-top: 10px;
    text-align: center;
}
.section-2 .module p{
    margin-top: 10px;
    text-align: center;
}
.section-3{
    height: 80vh;
    background: url(https://thumbs.dreamstime.com/b/group-young-business-people-working-together-sit-office-desk-coworking-mix-race-creative-workers-team-brainstorming-meeting-107735333.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3 .card{
    width: 400px;

}
.section-3 .card h2{
    margin-top: 10px;
    text-align: center;
}
.section-3 .card p{
    margin-top: 10px;
    text-align: center;
    
}
.section-3 .card input{
    width: 150px;
    height: 25px;
    border: none;
}
.section-4{
    height: 30vh;
    background-color: rgb(9, 77, 77);
    background-position: center;
    display: flex;
    justify-content: center;  
    text-align: center;
}
.section-4 .card-1{
    margin-top: 40px;
    width: 70%;
    background-color: aquamarine;
    border-radius: 20%;
    justify-content: center;  
    text-align: center;
    margin-bottom: 40px;
}
.section-4 .card-1 h2{
    margin-top: 50px;
    text-align: center;
}
.section-4 .card-1 p{
    margin-top: 10px;
    text-align: center;
}
